*{
    margin: 0;
    padding: 0;
}

.Gmail{
    object-fit: contain;
    height: 80px;
    margin-left: 5px;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid whitesmoke;
}

.header_left{
    display: flex;
    align-items: center;
}


.header_left span{
    padding: 10px;
    cursor: pointer;
}

.header_middle{
    display: flex;
    flex: 0.7;
    align-items: center;
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 5px;
}

.material-icons{
    color: gray;
}

input{
    border: none;
    width: 100%;
    padding: 10px;
    outline: none;
    font-size: medium;
    background-color: transparent;
}

.header_right{
    display: flex;
    padding-right: 20px;
}

.header_right span{
    padding: 10px;
    cursor: pointer;
}


.sidebar{
    flex: 0.3;
    max-width: 300px;
    padding-right: 20px;
}

button.sidebar_compose{
    margin-top: 15px;
    margin-left: 10px;
    margin-bottom: 15px;
    text-transform: capitalize;
    color: grey;
    padding: 15px;
    border-radius: 30px;
    background-color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
    outline: none;
    border: none;
    box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.75);
}

div button.sidebar_compose .AddIcon{
    margin-right: 5px;

}

div.sidebarOption{
    display: flex;
    align-items: center;
    height: 40px;
    padding: 0 10px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
    color: grey;
}

div.Update{
    padding: 5px;
}

div.sidebarOption h3{
    flex: 1;
    margin-left: 10px;
    font-size: 14px;
    font-weight: 400;
}

.sidebarOption:hover, .sidebarOption:hover h3, .sidebarOption:hover .material-icons, .Active, .Active h3, .Active .material-icons{
    background-color: #fcfcfc;
    color: #c04b37;
    font-weight: 800;

}

.footer{
    display: flex;
    justify-content: center;

}


.footer .material-icons{
    margin: 7px;
    cursor: pointer;
}

.main_body{
    display: flex;
    height: 100vh;
}

body{
    height: 100vh;
    overflow-y: hidden;
}

div.Email_list{
    flex: 1;
    overflow: scroll;
}

.Setting{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid whitesmoke;
    background-color: white;
    z-index: 999;
    padding: 8px;
}

.Options{
    background-color: whitesmoke;
    overscroll-behavior: none;
    border-width: 3px;
    color: red;
    border-bottom: 3px solid red;
    line-height: none;
    letter-spacing: 0ch;
    line-gap-override: 9px;
    pointer-events: all;
    text-combine-upright: none;

}
.Setting_left{
    display: flex;
    align-items: center;
}

.Setting .material-icons{
    margin: 5px;
    cursor: pointer;
}

.Email_Main{
    display: flex;
    border-bottom-width: 2px;
    align-items: center;
    padding: 15px;
    min-width: 200px;
    cursor: pointer;
    color: grey;
    border-width: 0px;
}

.email_list_section{
    position: sticky;
    top: 0;
    display: flex;
    background-color: white;
    border-bottom: 1px solid whitesmoke;
    z-index: 999;
}



.select .material-icons{
    color: red;
}

.section:hover{
    background-color: whitesmoke;
    border-width: 3px;
}

.section h4{
    font-size: 14px;
    margin-left: 15px;
}